body {
	background-image: url("/i/background.jpg");
    background-size:cover;

}

h1 {
	font-size:72px;
	font-family: 'Source Sans Pro', sans-serif;
	color:white;
	text-align: center;
	text-shadow: 2px 2px #000000;

}

p {
	font-size: 36px;
	font-family: 'Source Sans Pro', sans-serif;
	color:white;
	text-align: center;
	text-shadow: 2px 2px #000000;
}

iframe {
	height:900px;
	width:700px;
	border-style: ridge ;
	border-width: 5px;
	border-color: white;
	display:block;
	margin-bottom:20px;
}

#column1 {
	float:left;
	margin-left:100px;

}

#column2 {
	float:right;
	margin-right:100px;
}

